# Runtime
NODE_ENV=development

# App Security
REACT_APP_REQUIRE_HTTPS=true
REACT_APP_SESSION_TIMEOUT_MINUTES=30
REACT_APP_MAX_LOGIN_ATTEMPTS=5

# If/when Firebase is enabled:
REACT_APP_DATA_PROVIDER=firebase
REACT_APP_FIREBASE_API_KEY="AIzaSyAOfLCpcP-Lq3QXUhrGNbeUdys-CsCPvrM"
REACT_APP_FIREBASE_AUTH_DOMAIN= "macha-demo.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID= "macha-demo"
REACT_APP_FIREBASE_STORAGE_BUCKET= "macha-demo.firebasestorage.app"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID= "345709514301"
REACT_APP_FIREBASE_APP_ID= "1:345709514301:web:d1bbb63d8274a50cf42454"
